# Various IDEs and Editors
.vscode/
.idea/
**/*~

# Mac OSX temporary files
.DS_Store
**/.DS_Store

# dfx temporary files
.dfx/
.mops/

# frontend code
node_modules/
dist/
.prodScripts.md

# temp
./temp